/.settings/
*.DS_Store
*.metadata/*
CHIALTLIOltl2ba
/target/
/IncompleteAutomataBasedModelCheckingGUI/
/src/
/CHIAVisualization/
/.project
/CHIAReplacementCheckerltl2ba
/CHIAScalabilityEvaluatorltl2ba
/CHIAFrameworkltl2ba
/bin/
bin*.pdf
/CHIA.mp4
*.project
*.classpath
*.pdf
