/target/
/prova.xml
/ConstraintProva.xml
/hs_err_pid22422.log
/hs_err_pid22692.log
/hs_err_pid25235.log
/hs_err_pid25251.log
/Proposition.xsd
/Propositions.xsd
/Prova2.xml
/ReplacementIntersection.xml
/hs_err_pid27214.log
/IBA.xsd
/hs_err_pid22949.log
/target../
/.classpath
/.project
/.settings/
